<form method= "post" action="/login">
  <p>username: <input type="text" name="username"></input></p>
  <p>password: <input type="password" name="password"></input></p>
  
  <input type="submit" id="login">
</form>