<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <%=yield%>
      
      <h2>where you have no limit</h2>
    </div>

  </body>
</html>
